<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Location Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-card>
      <ion-card-header>Current Coordinates</ion-card-header>
      <ion-card-content>
        <ion-button (click)="printCurrentPosition()">Get Current Location</ion-button>
      </ion-card-content>
      <ion-card-content>
        <ion-item>Latitude: {{ latitude }}</ion-item>
        <ion-item>Longitude: {{ longitude }}</ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
